html {
  height: 100%;
  background-color: black;
}

#root {
  height: 100%;
  display: grid;
  place-content: center;
}

* {
  padding: 0;
  margin: 0;
}

$darkest-graey: #323432;
$dark-graey: #626562;
$graey: #a4a9a4;

body {
  height: 100%;
}

.appearBefore {
  transform: translateZ(-10px);
}

.appearAfter {
  transform-style: preserve-3d;
}

.zIndex1 {
  z-index: 1;
}
.zIndex10 {
  z-index: 10;
}

.deviceContainer {
  background-color: $graey;
  padding: 35px 90px;
}

.controlsContainer {
  background-color: $dark-graey;
  padding: 15px 0;
}

.handleSliderContainer {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1px 1fr 1px;
  place-items: center;
}

.handleSlider {
  $border: 45px solid $dark-graey;
  border-left: $border;
  border-right: $border;
  background-color: $darkest-graey;
  height: 50px;
  width: 35px;
  display: grid;
  place-content: center;
}

.step {
  height: 10px;
  width: 40px;
  background-color: $darkest-graey;
  z-index: 1;
}

.handle {
  height: 35px;
  width: 250px;
  background-color: #d12f37;
  z-index: 2;
}
